<title>Café San Román | Conócenos</title>
<div id="bodycafesanroman">
  <div class="my-container">
    <div class="container">
      <app-header></app-header>
      <main id="conocenos">
        <div class="bg-primary p-5">
          <div class="container">
            <div class="row">
              <div class="col-sm">
                <hr>
              </div>
              <div class="col-sm">
                <h1 class="display-4 text-center">CONÓCENOS</h1>
              </div>
              <div class="col-sm">
                <hr>
              </div>
            </div>
          </div>
        </div>
        <!-- CONTENIDO-->
        <div class="container text-justify">
          <div class="row">
            <div class="col-md">
              <h3 style="color: #eb2632">Nuestra Empresa</h3>
              <hr>
              <p>Surgido de la fusión de ideas de 2 hermanos, San Román nace a finales del 2011 con la principal encomienda
                de ser un foro de expresión de arte, principalmente para el talento Guanajuatense que no encuentra espacios
                de expresión en la música, poesía, pintura y fotografía esencialmente.</p>
              <p>No es mas que la materialización del sueño de 2 locos, que creyeron en una idea y no descansaron hasta llevarla
                a cabo, apoyada en innumerables viajes y experiencias que terminaron por darle forma al concepto que hoy
                se tiene, impregnado con las pasiones y aficiones de sus creadores.</p>
              <p>Con un aparente pobre plan de negocios, pero gran voluntad y pasión, asi fue como inicio Café San Román,
                que hoy a casi 2 años de su creación y a base de mucho trabajo e inumerables experiencias, se encuentra ya
                posicionado en el gusto de la sociedad salmantina superando con creces las expectativas fijadas, trabajando
                día a día en ser un proyecto mas solido, y con muchos objetivos y metas aun por cumplir.</p>
            </div>
            <div class="col-md">
              <img src="assets/img/galeria/el_cafe/img6-elcafe.jpg" alt="img6-elcafe">
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md">
              <h3 style="color: #eb2632">Misión</h3>
              <hr>
              <p>San Román es un espacio único, que fusiona el arte, la comida y el buen café para gente cosmopolita y hedonista
                con una visión diferente del entretenimiento y la cultura en Salamanca.</p>
            </div>
            <div class="col-md">
              <h3 style="color: #eb2632">Visión</h3>
              <hr>
              <p>Ser un espacio de expresión artística inspirador y creador de ideas, un sitio de intercambio cultural con
                un concepto innovador para nuestros visitantes, brindándoles la oportunidad de crear, soñar y sentir, donde
                la tranquilidad y apariencia que ofrece nuestro lugar sea la protagonista del entorno, logrando ser el sitio
                de elección de la sociedad salmantina.</p>
            </div>
            <div class="col-md">
              <h3 style="color: #eb2632">Valores</h3>
              <hr>
              <ul>
                <li>Respeto</li>
                <li>Responsabilidad</li>
                <li>Honestidad</li>
                <li>Amabilidad</li>
                <li>Compromiso</li>
              </ul>
            </div>
          </div>
        </div>
        <!-- FIN CONTENIDO-->
      </main>
      <app-footer></app-footer>
    </div>
  </div>
</div>