<div id="bodycafesanroman">
  <div class="my-container">
    <div class="text-center" style="color: #dc3545">
      <a href="/cafe-san-roman"><img src="assets/img/principal/logo-sanroman-original-2018.png"
          style="width: 18rem;" class="rounded mb-3" alt="CAFÉ SAN ROMÁN"></a>
      <h1 class="card-text">ERROR 404 - Artículo no encontrado </h1>
      <p class="card-text">Lo sentimos no pudimos encontrar la página que buscas</p>
      <h4 class="card-text">Contáctanos</h4>
      <p class="card-text">Tel. 01 464 641 3003 </p>
      <p>Ir a la página de inicio:
        <a href="/cafe-san-roman">Página de inicio</a>.</p>
    </div>
  </div>
</div>