<title>Café San Román | El Foro</title>
<div id="bodycafesanroman">
  <div class="my-container">
    <div class="container">
      <app-header></app-header>
      <main id="elforo">
        <div class="bg-primary p-5">
          <div class="container">
            <div class="row">
              <div class="col-sm">
                <hr>
              </div>
              <div class="col-sm">
                <h1 class="display-4 text-center">EL FORO</h1>
              </div>
              <div class="col-sm">
                <hr>
              </div>
            </div>
          </div>
        </div>

        <!-- CONTENIDO-->
        <div class="container">
          <div class="row">
            <div class="col-lg">
              el foro
            </div>
            <div class="col-lg">
              el foro
            </div>
          </div>
        </div>
        <!-- FIN CONTENIDO-->
      </main>
      <app-footer></app-footer>
    </div>
  </div>
</div>