<title>Café San Román | Menús</title>
<div id="bodycafesanroman">
  <div class="my-container">
    <div class="container">
      <app-header></app-header>
      <main id="menus">
        <div class="bg-primary p-5">
          <div class="container">
            <div class="row">
              <div class="col-sm">
                <hr>
              </div>
              <div class="col-sm">
                <h1 class="display-4 text-center">MENÚS</h1>
              </div>
              <div class="col-sm">
                <hr>
              </div>
            </div>
          </div>
        </div>

        <!-- CONTENIDO-->

        <div class="mb-3">
          <img src="assets/img/menu/ORIGINAL-CARTA-SAN-ROMAN 2016-FRENTE.jpg" alt="MENU">
        </div>
        <div>
          <img src="assets/img/menu/ORIGINAL-CARTA SAN-ROMAN-2016-DETRAS.jpg" alt="MENU">
        </div>

        <!-- FIN CONTENIDO-->
      </main>
      <app-footer></app-footer>
    </div>
  </div>
</div>