<title>Café San Román | Galería</title>
<div id="bodycafesanroman">
  <div class="my-container">
    <div class="container">
      <app-header></app-header>
      <main id="galeria">
        <div class="bg-primary p-5">
          <div class="container">
            <div class="row">
              <div class="col-sm">
                <hr>
              </div>
              <div class="col-sm">
                <h1 class="display-4 text-center">GALERÍA</h1>
              </div>
              <div class="col-sm">
                <hr>
              </div>
            </div>
          </div>
        </div>

        <!-- GALERIA DE IMAGENES-->
        <!--Imagenes El Café-->
        <div class="row mb-3">
          <div class="col-sm-4">
            <!-- colored -->
            <div class="ih-item square colored effect6 from_top_and_bottom"><a href="assets/img/galeria/el_cafe/img2-elcafe.JPG"
                data-lightbox="roadtrip">
                <div class="img"><img src="assets/img/galeria/el_cafe/img2-elcafe.JPG" alt="img"></div>
                <div class="info">
                  <h3>El Café</h3>
                  <p>San Román</p>
                </div></a></div>
            <!-- end colored -->
          </div>

          <div class="col-sm-4">
            <!-- normal -->
            <div class="ih-item square effect6 from_top_and_bottom"><a href="assets/img/galeria/el_cafe/img6-elcafe.jpg"
                data-lightbox="roadtrip">
                <div class="img"><img src="assets/img/galeria/el_cafe/img6-elcafe.jpg" alt="img"></div>
                <div class="info">
                  <h3>El Café</h3>
                  <p>San Román</p>
                </div></a></div>
            <!-- end normal -->
          </div>

          <div class="col-sm-4">
            <!-- normal -->
            <div class="ih-item square effect6 from_top_and_bottom"><a href="assets/img/galeria/el_cafe/img1-elcafe.jpg"
                data-lightbox="roadtrip">
                <div class="img"><img src="assets/img/galeria/el_cafe/img1-elcafe.jpg" alt="img"></div>
                <div class="info">
                  <h3>El Café</h3>
                  <p>San Román</p>
                </div></a></div>
            <!-- end normal -->
          </div>

        </div>

        <div class="row mb-3">
          <div class="col-sm-4">
            <!-- normal -->
            <div class="ih-item square effect6 from_top_and_bottom"><a href="assets/img/galeria/el_cafe/img3-elcafe.jpg"
                data-lightbox="roadtrip">
                <div class="img"><img src="assets/img/galeria/el_cafe/img3-elcafe.jpg" alt="img"></div>
                <div class="info">
                  <h3>El Café</h3>
                  <p>San Román</p>
                </div></a></div>
            <!-- end normal -->
          </div>

          <div class="col-sm-4">
            <!-- colored -->
            <div class="ih-item square colored effect6 from_top_and_bottom"><a href="assets/img/galeria/el_cafe/img4-elcafe.jpg"
                data-lightbox="roadtrip">
                <div class="img"><img src="assets/img/galeria/el_cafe/img4-elcafe.jpg" alt="img"></div>
                <div class="info">
                  <h3>El Café</h3>
                  <p>San Román</p>
                </div></a></div>
            <!-- end colored -->
          </div>

          <div class="col-sm-4">
            <!-- normal -->
            <div class="ih-item square effect6 from_top_and_bottom"><a href="assets/img/galeria/el_cafe/img5-elcafe.jpg"
                data-lightbox="roadtrip">
                <div class="img"><img src="assets/img/galeria/el_cafe/img5-elcafe.jpg" alt="img"></div>
                <div class="info">
                  <h3>El Café</h3>
                  <p>San Román</p>
                </div></a></div>
            <!-- end normal -->
          </div>
        </div>
        <!--Fin imagenes El Café-->

        <!--Imagenes El Foro-->
        <div class="row mb-3">
          <div class="col-sm-4">
            <!-- colored -->
            <div class="ih-item square colored effect6 from_top_and_bottom"><a href="assets/img/galeria/el_foro/img3-elforo.jpg"
                data-lightbox="roadtrip">
                <div class="img"><img src="assets/img/galeria/el_foro/img3-elforo.jpg" alt="img"></div>
                <div class="info">
                  <h3>El Foro</h3>
                  <p>San Román</p>
                </div></a></div>
            <!-- end colored -->
          </div>

          <div class="col-sm-4">
            <!-- normal -->
            <div class="ih-item square effect6 from_top_and_bottom"><a href="assets/img/galeria/el_foro/img2-elforo.jpeg"
                data-lightbox="roadtrip">
                <div class="img"><img src="assets/img/galeria/el_foro/img2-elforo.jpeg" alt="img"></div>
                <div class="info">
                  <h3>El Foro</h3>
                  <p>San Román</p>
                </div></a></div>
            <!-- end normal -->
          </div>

          <div class="col-sm-4">
            <!-- normal -->
            <div class="ih-item square effect6 from_top_and_bottom"><a href="assets/img/galeria/el_foro/img4-elforo.jpg"
                data-lightbox="roadtrip">
                <div class="img"><img src="assets/img/galeria/el_foro/img4-elforo.jpg" alt="img"></div>
                <div class="info">
                  <h3>El Foro</h3>
                  <p>San Román</p>
                </div></a></div>
            <!-- end normal -->
          </div>
        </div>
        <!--Fin de Imagenes El Foro-->

        <!--Imagenes La Galería-->
        <div class="row mb-3">
          <div class="col-sm-4">
            <!-- normal -->
            <div class="ih-item square effect6 from_top_and_bottom"><a href="assets/img/galeria/la_galeria/img1-lagaleria.jpg"
                data-lightbox="roadtrip">
                <div class="img"><img src="assets/img/galeria/la_galeria/img1-lagaleria.jpg" alt="img"></div>
                <div class="info">
                  <h3>La Galería</h3>
                  <p>San Román</p>
                </div></a></div>
            <!-- end normal -->
          </div>

          <div class="col-sm-4">
            <!-- colored -->
            <div class="ih-item square colored effect6 from_top_and_bottom"><a href="assets/img/galeria/la_galeria/img2-lagaleria.jpg"
                data-lightbox="roadtrip">
                <div class="img"><img src="assets/img/galeria/la_galeria/img2-lagaleria.jpg" alt="img"></div>
                <div class="info">
                  <h3>La Galería</h3>
                  <p>San Román</p>
                </div></a></div>
            <!-- end colored -->
          </div>

          <div class="col-sm-4">
            <!-- normal -->
            <div class="ih-item square effect6 from_top_and_bottom"><a href="assets/img/galeria/la_galeria/img3-lagaleria.jpeg"
                data-lightbox="roadtrip">
                <div class="img"><img src="assets/img/galeria/la_galeria/img3-lagaleria.jpeg" alt="img"></div>
                <div class="info">
                  <h3>La Galería</h3>
                  <p>San Román</p>
                </div></a></div>
            <!-- end normal -->
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-sm-4">
            <!-- normal -->
            <div class="ih-item square effect6 from_top_and_bottom"><a href="assets/img/galeria/la_galeria/img4-lagaleria.jpeg"
                data-lightbox="roadtrip">
                <div class="img"><img src="assets/img/galeria/la_galeria/img4-lagaleria.jpeg" alt="img"></div>
                <div class="info">
                  <h3>La Galería</h3>
                  <p>San Román</p>
                </div></a></div>
            <!-- end normal -->
          </div>

          <div class="col-sm-4">
            <!-- colored -->
            <div class="ih-item square colored effect6 from_top_and_bottom"><a href="assets/img/galeria/la_galeria/img5-lagaleria.jpeg"
                data-lightbox="roadtrip">
                <div class="img"><img src="assets/img/galeria/la_galeria/img5-lagaleria.jpeg" alt="img"></div>
                <div class="info">
                  <h3>La Galería</h3>
                  <p>San Román</p>
                </div></a></div>
            <!-- end colored -->
          </div>

          <div class="col-sm-4">
            <!-- normal -->
            <div class="ih-item square effect6 from_top_and_bottom"><a href="assets/img/galeria/la_galeria/img6-lagaleria.jpeg"
                data-lightbox="roadtrip">
                <div class="img"><img src="assets/img/galeria/la_galeria/img6-lagaleria.jpeg" alt="img"></div>
                <div class="info">
                  <h3>La Galería</h3>
                  <p>San Román</p>
                </div></a></div>
            <!-- end normal -->
          </div>
        </div>
        <!--Fin de imagenes La Galería-->

        <!--Imagenes La Terraza-->
        <div class="row mb-3">
          <div class="col-sm-4">
            <!-- normal -->
            <div class="ih-item square effect6 from_top_and_bottom"><a href="assets/img/galeria/la_terraza/img6-terraza.jpeg"
                data-lightbox="roadtrip">
                <div class="img"><img src="assets/img/galeria/la_terraza/img6-terraza.jpeg" alt="img"></div>
                <div class="info">
                  <h3>La Terraza</h3>
                  <p>San Román</p>
                </div></a></div>
            <!-- end normal -->
          </div>

          <div class="col-sm-4">
            <!-- colored -->
            <div class="ih-item square colored effect6 from_top_and_bottom"><a href="assets/img/galeria/la_terraza/img2-terraza.jpeg"
                data-lightbox="roadtrip">
                <div class="img"><img src="assets/img/galeria/la_terraza/img2-terraza.jpeg" alt="img"></div>
                <div class="info">
                  <h3>La Terraza</h3>
                  <p>San Román</p>
                </div></a></div>
            <!-- end colored -->
          </div>

          <div class="col-sm-4">
            <!-- normal -->
            <div class="ih-item square effect6 from_top_and_bottom"><a href="assets/img/galeria/la_terraza/img3-terraza.jpeg"
                data-lightbox="roadtrip">
                <div class="img"><img src="assets/img/galeria/la_terraza/img3-terraza.jpeg" alt="img"></div>
                <div class="info">
                  <h3>La Terraza</h3>
                  <p>San Román</p>
                </div></a></div>
            <!-- end normal -->
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4">
            <!-- normal -->
            <div class="ih-item square effect6 from_top_and_bottom"><a href="assets/img/galeria/la_terraza/img4-terraza.jpeg"
                data-lightbox="roadtrip">
                <div class="img"><img src="assets/img/galeria/la_terraza/img4-terraza.jpeg" alt="img"></div>
                <div class="info">
                  <h3>La Terraza</h3>
                  <p>San Román</p>
                </div></a></div>
            <!-- end normal -->
          </div>

          <div class="col-sm-4">
            <!-- colored -->
            <div class="ih-item square colored effect6 from_top_and_bottom"><a href="assets/img/galeria/la_terraza/img5-terraza.jpeg"
                data-lightbox="roadtrip">
                <div class="img"><img src="assets/img/galeria/la_terraza/img5-terraza.jpeg" alt="img"></div>
                <div class="info">
                  <h3>La Terraza</h3>
                  <p>San Román</p>
                </div></a></div>
            <!-- end colored -->
          </div>

          <div class="col-sm-4">
            <!-- normal -->
            <div class="ih-item square effect6 from_top_and_bottom"><a href="assets/img/galeria/la_terraza/img1-terraza.jpg"
                data-lightbox="roadtrip">
                <div class="img"><img src="assets/img/galeria/la_terraza/img1-terraza.jpg" alt="img"></div>
                <div class="info">
                  <h3>La Terraza</h3>
                  <p>San Román</p>
                </div></a></div>
            <!-- end normal -->
          </div>
        </div>
        <!--Fin de imagenes La Terraza-->
        <!-- FIN GALERIA DE IMAGENES-->
      </main>
      <app-footer></app-footer>
    </div>
  </div>
</div>