<title>Café San Román | La Galería</title>
<div id="bodycafesanroman">
  <div class="my-container">
    <div class="container">
      <app-header></app-header>
      <main id="lagaleria">
        <div class="bg-primary p-5">
          <div class="container">
            <div class="row">
              <div class="col-sm">
                <hr>
              </div>
              <div class="col-sm">
                <h1 class="display-4 text-center">LA GALERÍA</h1>
              </div>
              <div class="col-sm">
                <hr>
              </div>
            </div>
          </div>
        </div>

        <!-- CONTENIDO-->
        <div class="container">
          <div class="row">
            <div class="col-lg">
              La Galería
            </div>
            <div class="col-lg">
              La Galería
            </div>
          </div>
        </div>
        <!-- FIN CONTENIDO-->
      </main>
      <app-footer></app-footer>
    </div>
  </div>
</div>