<title>Café San Román | Contacto</title>
<div id="bodycafesanroman">
  <div class="my-container">
    <div class="container">
      <app-header></app-header>
      <main id="contacto">
        <div class="bg-primary p-5">
          <div class="container">
            <div class="row">
              <div class="col-sm">
                <hr>
              </div>
              <div class="col-sm">
                <h1 class="display-4 text-center">CONTACTO</h1>
              </div>
              <div class="col-sm">
                <hr>
              </div>
            </div>
          </div>
        </div>

        <!-- CONTENIDO-->
        <div class="container p-4">
          <div class="row">
            <div class="col-md">
              <h3 style="color: #eb2632">CAFÉ SAN ROMÁN</h3>
              <p>01 464 641 3003 |
                <a routerLink="/cafe-san-roman/enviar-email">
                  <small>Envíanos un Email</small>
                </a>
              </p>
              <p>Boulevard Manuel J. Clouthier 1002, Aztlan, 36720 Salamanca, Gto.</p>
              <h5 class="mt-4" style="color: #eb2632">HORARIO DE SERVICIO:</h5>
              <p>
                <small>Viernes: 5:00–2:00
                  <br>Sábado: 5:00–2:00
                  <br>Domingo: 5:00–11:00
                  <br>Lunes: Cerrado
                  <br>Martes: 5:00–11:00
                  <br>Miércoles: 5:00–12:00
                  <br>Jueves: 5:00–12:00</small>
              </p>
            </div>
            <div class="col-md">
              <h3 style="color: #eb2632">RESERVACIONES</h3>
              <P>Para realizar tus reservaciones por favor llámenos al Tel-01 464 641 3003 o haz clic en el botón</P>
              <a routerLink="/cafe-san-roman/reservaciones"><button type="button" class="btn btn-outline-danger" role="button">RESERVAR
                  AHORA</button></a>
              <h5 class="mt-4" style="color: #eb2632">TARJETAS DE CRÉDITO:</h5>
              <P>Visa, Mastercard</P>
            </div>
          </div>
        </div>
        <div class="embed-responsive embed-responsive-21by9" style="height: 400px;">
          <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3735.0589835467317!2d-101.1917840857306!3d20.585648708134634!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x842c851e05b0e587%3A0x10c9b2cf234fb07!2sCalle+Tenixtepec+1002%2C+Bellavista%2C+36730+Salamanca%2C+Gto.!5e0!3m2!1ses-419!2smx!4v1524514414846"
            allowfullscreen></iframe>
        </div>
        <!-- FIN CONTENIDO-->
      </main>
      <app-footer></app-footer>
    </div>
  </div>
</div>