<div id="bodygruposanroman">
    <div class="container">
        <div class="logo-gruposanroman mx-auto d-block mb-4">
            <a href="/"> <img src="assets/img/principal/LOGO-GRUPO-SAN-ROMAN.png" alt="Grupo San Román"></a>
        </div>
        <div class="mb-4">
            <h4 class="text-center">NUESTRAS EMPRESAS</h4>
        </div>
        <div class="row">
            <div class="col-md mt-5">
                <a href="https://www.facebook.com/motoenviosensalamanca/" target="_blank"><img
                        class="logo-romitto mx-auto d-block" src="assets/img/principal/LOGO-ROMITTO.png"
                        alt="ROMITTO"></a>
            </div>
            <div class="col-md mt-4 mb-4">
                <a href="cafe-san-roman" target="_blank"><img class="logo-cafesanroman mx-auto d-block"
                        src="assets/img/principal/LOGO-SAN-ROMAN-INICIO.png" alt="Café San Román"></a>
            </div>
        </div>
    </div>

    <div class="privacidad text-center">
        <div class="row px-3">
            <div class="col-md">
                <p class="text-center text-md-left text-secondary">© 2019 All Rights Reserved.
                    <a href="http://www.webdesignjr.260mb.net/" target="_blank">
                        <strong>Created By - José Razo Prieto</strong>
                    </a>
                </p>
            </div>
            <div class="col-md text-md-right">
                <a href="">Aviso de Privacidad</a>
            </div>
        </div>
    </div>
</div>

<div id="contenedor_carga">
    <div id="carga"></div>
</div>